<p-toast></p-toast>
<p-confirmdialog />

<div>
  <p-divider />
  <div class="card">
    <p-floatlabel variant="on">
      <textarea
        pTextarea
        id="over_label"
        [(ngModel)]="description"
        rows="3"
        cols="10"
        style="resize: none"
        (ngModelChange)="debouncedDescriptionUpdate()"
      ></textarea>
      <label for="on_label">{{ "DESCRIPTION" | translate }}</label>
    </p-floatlabel>
    <p-divider />
    <div class="body-section">
      <div class="body-header mb-4">
        <i class="pi pi-objects-column" style="color: var(--p-primary-color)"></i>
        <strong style="color: var(--p-primary-color)">{{ "PATHS.LABELS.BODY" | translate }} </strong>

        <p-menu #menu [model]="filteredMenuItems" [popup]="true">
          <ng-template pTemplate="start">
            <p-floatLabel variant="on">
              <input
                pInputText
                id="filter_input"
                [(ngModel)]="filterText"
                (input)="filterMenuItems()"
                autocomplete="off"
              />
              <label for="filter_input">{{ "FILTER" | translate }} </label>
            </p-floatLabel>
          </ng-template>
        </p-menu>

        <p-button
          type="button"
          [rounded]="true"
          [text]="true"
          [raised]="true"
          label="{{ 'PATHS.PARAMETERS.ADD' | translate }}"
          icon="pi pi-plus"
          (click)="menu.toggle($event)"
        ></p-button>
      </div>
      <div class="body-content">
        <p-message
          *ngIf="requestBodyContentKeys?.length === 0"
          icon="pi pi-info"
          severity="info"
          text="{{ 'PATHS.RESPONSES.MESSAGES.NO_BODY_CONTENT' | translate }}"
          styleClass="h-full"
        />
        <p-divider />
        <div class="button-container overflow-auto">
          <div class="flex flex-wrap gap-2" #buttonContainer>
            <div class="flex gap-2 relative">
              <div
                *ngFor="let contentType of requestBodyContentKeys"
                class="flex items-center mb-2"
              >
                <p-button
                  #buttonRef
                  label="{{ contentType }}"
                  [rounded]="true"
                  [text]="true"
                  [raised]="true"
                  [ngClass]="{ selected: contentType === selectedContentType }"
                  (onClick)="selectContentType(contentType)"
                  class="font-bold text-sm border-none cursor-pointer transition-colors"
                  [severity]="
                    selectedContentType === contentType
                      ? 'primary'
                      : 'secondary'
                  "
                ></p-button>

                <p-button
                  icon="pi pi-trash"
                  (onClick)="deleteContentType(contentType)"
                  [severity]="
                    selectedContentType === contentType
                      ? 'primary'
                      : 'secondary'
                  "
                  [rounded]="true"
                  [text]="true"
                  [raised]="true"
                  class="border-none"
                ></p-button>
              </div>
            </div>
          </div>
        </div>
        <app-schema-tabs
          *ngIf="requestBodyContentAsArray.length > 0"
          [selectedSchema]="selectedSchema"
          [selectedSchemaName]="selectedContentType"
          [nameOfId]="nameOfId"
          [apiDataService]="getApiDataService"
          (schemaUpdated)="onSchemaUpdated($event)"
          (deleteRowEvent)="onChildDelete()"
        ></app-schema-tabs>
      </div>
    </div>
  </div>
</div>
