.properties-container,
.object-properties-container,
.string-properties-container,
.array-properties-container,
.boolean-properties-container,
.dictionary-properties-container,
.enum-properties-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  max-height: 60vh;
  overflow-y: auto;
}

.properties-container::-webkit-scrollbar,
.object-properties-container::-webkit-scrollbar,
.string-properties-container::-webkit-scrollbar,
.array-properties-container::-webkit-scrollbar,
.boolean-properties-container::-webkit-scrollbar,
.dictionary-properties-container::-webkit-scrollbar,
.enum-properties-container::-webkit-scrollbar {
  width: 12px;
}

.properties-container::-webkit-scrollbar-track,
.object-properties-container::-webkit-scrollbar-track,
.string-properties-container::-webkit-scrollbar-track,
.array-properties-container::-webkit-scrollbar-track,
.boolean-properties-container::-webkit-scrollbar-track,
.dictionary-properties-container::-webkit-scrollbar-track,
.enum-properties-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.properties-container::-webkit-scrollbar-thumb,
.object-properties-container::-webkit-scrollbar-thumb,
.string-properties-container::-webkit-scrollbar-thumb,
.array-properties-container::-webkit-scrollbar-thumb,
.boolean-properties-container::-webkit-scrollbar-thumb,
.dictionary-properties-container::-webkit-scrollbar-thumb,
.enum-properties-container::-webkit-scrollbar-thumb {
  border-radius: 6px;
}


.properties-container,
.object-properties-container,
.string-properties-container,
.array-properties-container,
.boolean-properties-container,
.dictionary-properties-container,
.enum-properties-container {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 48%;
  min-width: 150px;
}

.form-group input,
.form-group p-select {
  width: 100%;
}

.toggle-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1 1 48%;
  grid-column: span 2;
  padding-top: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.type-selection-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.not-nullable-button {
  margin-left: auto;
}

.enum-input-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.enum-input-field {
  flex: 1;
  height: 2.5rem;
}

.menu-button,
.delete-button {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button {
  width: 100%;
  text-align: center;
  color: #333;
  margin-top: 0.5rem;
}

.overlay-wrapper {
  max-height: 70vh;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.overlay-wrapper::-webkit-scrollbar {
  width: 10px;
}

.overlay-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.overlay-wrapper::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 6px;
}

.overlay-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}

.p-overlaypanel {
  z-index: 1000 !important;
}

.p-select {
  z-index: 1100 !important;
}
