<div class="flex flex-col gap-10">
  <div class="flex justify-between items-center">
    <p-button
      [label]="'SCHEMAS.EXTENSIONS.ADD' | translate"
      icon="pi pi-file-plus"
      [rounded]="true"
      [raised]="true"
      (click)="generateAndAddExtension()"
      class="p-button-outlined p-button-primary"
    ></p-button>

    <div class="flex gap-2 items-center">
      <p-toast></p-toast>
      <p-button
        icon="pi pi-copy"
        (click)="copyExample()"
        [rounded]="true"
        [text]="true"
        [raised]="true"
        pTooltip="{{ 'SCHEMAS.EXTENSIONS.COPY' | translate }}"
        tooltipPosition="top"
        class="p-button-text"
      ></p-button>
      <p-button
        icon="pi pi-trash"
        (click)="deleteExtension()"
        pTooltip="{{ 'SCHEMAS.EXTENSIONS.DELETE' | translate }}"
        tooltipPosition="top"
        [rounded]="true"
        [text]="true"
        [raised]="true"
        severity="danger"
      ></p-button>
    </div>
  </div>

  <div class="card">
    <p-listbox
      [options]="extensions"
      [(ngModel)]="activeItem"
      optionLabel="label"
      (onChange)="onExtensionSelectFromList()"
      class="w-full md:w-56"
    />
  </div>
  <div class="flex flex-col gap-4">
    <p-floatlabel>
      <input
        pInputText
        id="in_label"
        [(ngModel)]="selectedExtensionName"
        autocomplete="off"
        (blur)="saveCurrentExtension()"
      />
      <label for="in_label">{{ "SCHEMAS.EXTENSIONS.LABEL" | translate }}</label>
    </p-floatlabel>

    <textarea
      pTextarea
      rows="10"
      cols="50"
      pInputTextarea
      [formControl]="extensionsControl"
      [placeholder]="'SCHEMAS.EXTENSIONS.EDIT' | translate"
      class="example-textarea"
      (blur)="saveCurrentExtension()"
    ></textarea>
  </div>
</div>
